# Handle line endings automatically for files detected as text
# and leave all files detected as binary untouched.
*               text=auto


# The above will handle all files NOT found below
# These files are text and should be normalized (Convert crlf => lf)
*.bash          text eol=lf
*.css           text diff=css
*.df            text
*.htm           text diff=html
*.html          text diff=html eol=lf
*.java          text diff=java eol=lf
*.js            text
*.json          text eol=lf
*.jsp           text eol=lf
*.jspf          text eol=lf
*.jspx          text eol=lf
*.properties    text eol=lf
*.sh            text eol=lf
*.tld           text
*.txt           text eol=lf
*.tag           text
*.tagx          text
*.xml           text
*.yml           text eol=lf


# These files are binary and should be left untouched
# (binary is a macro for -text -diff)
# Archives
*.7z            -text filter=lfs diff=lfs merge=lfs
*.br            -text filter=lfs diff=lfs merge=lfs
*.gz            -text filter=lfs diff=lfs merge=lfs
*.tar           -text filter=lfs diff=lfs merge=lfs
*.zip           -text filter=lfs diff=lfs merge=lfs
*.jar           -text
*.so            -text
*.war           -text
*.dll           -text

# Documents
*.pdf           -text filter=lfs diff=lfs merge=lfs

# Images
*.ico           -text filter=lfs diff=lfs merge=lfs
*.gif           -text filter=lfs diff=lfs merge=lfs
*.jpg           -text filter=lfs diff=lfs merge=lfs
*.jpeg          -text filter=lfs diff=lfs merge=lfs
*.png           -text filter=lfs diff=lfs merge=lfs
*.psd           -text filter=lfs diff=lfs merge=lfs
*.webp          -text filter=lfs diff=lfs merge=lfs

# Fonts
*.woff2         -text filter=lfs diff=lfs merge=lfs

# Other
*.exe           -text filter=lfs diff=lfs merge=lfs
*.class         binary
*.ear           binary
